html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 60px;
    background-color: #3aafa9;
    border-bottom: 1px solid #17252a;
}

.header-container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header-container h1 {
    color: #17252a;
}

main {
    display: flex;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto 100px auto;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #ccc;
}

.btn {
    padding: 10px;
    font-size: 0.8em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #3aafa9;
    border: 1px solid #17252a;
    border-radius: 4px;
    transition: all ease-out 0.2s;
}

.error-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-main h1 {
    color: #3aafa9;
    font-size: 6em;
    margin: 0;
}

.error-main p {
    font-size: 2em;
}

#main-canvas {
    flex-direction: column;
    display: flex;
    align-items: center;
}

#drawing-box {
    position: relative;
    width: 1000px;
    height: 250px;
    border: 1px solid;
    border-color: #17252a;
}

#drawing-box canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#result {
    font-size: 10em;
    width: 1000px;
    height: 250px;
    border: 1px solid;
    border-color: #17252a;
    justify-content: center;
    display: flex;
    align-items: center;
}

#clear-btn {
    padding: 10px;
    margin-top: 50px;
    min-width: 150px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    background-color: #3aafa9;
    border: 1px solid #17252a;
    border-radius: 4px;
    transition: all ease-out 0.2s;
}